<?xml version="1.0"?>

<launch>
    
    <!-- ROBOT SPAWN POSE -->
    <arg name="init_pos_x" default="0.0"/>
    <arg name="init_pos_y" default="0.0"/>
    <arg name="init_pos_z" default="0.0"/>
    <arg name="init_yaw" default="0.0"/>
    <arg name="world_name" value="$(find {{pkg_path}})/worlds/{{world_name}}.world"/>

    <!-- GAZEBO SETUP ARGUMENTS -->
    <arg name="use_sim_time" default="true"/>
    <arg name="gazebo_gui" default="false"/>
    <arg name="headless" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="paused" default="false"/>

    <!-- RViz startup options -->
    <arg name="start_rviz" default="true"/>
    <arg name="rviz_config" default="$(find robile_gazebo)/config/rviz/robile.rviz"/>

    <!-- launch gazebo with empty world -->
    <include file="$(find robile_gazebo)/launch/platform_independent/world.launch">
        <arg name="world_name" value="$(find {{pkg_path}})/worlds/{{world_name}}.world"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

</launch>
