<?xml version="1.0" ?>
<sdf version="1.6">
  <model name="{{model_name}}">
    <link name="link">
      <visual name="visual">
	    <geometry>
          <mesh>
            <uri>model://{{model_name}}/meshes/{{model_name}}.stl</uri>
          </mesh>
        </geometry>
      </visual>
      <collision name="collision">
        <geometry>
          <mesh>
            <uri>model://{{model_name}}/meshes/{{model_name}}.stl</uri>
          </mesh>
        </geometry>
      </collision>    
</link>
  <static>1</static>
  </model>
</sdf>
