{
  "@context": {
    "prov": "http://www.w3.org/ns/prov#",
    "smm": "https://secorolab.github.io/metamodels/scenario#",
    "dcterms": "http://purl.org/dc/terms/",
    "models": "{{ model_base_iri }}"
  },
  "@graph": [
    {
      "@id": "models:{{ fpm_file }}",
      "@type": "prov:Entity"
    },
    {
      "@id": "models:{{ var_file }}",
      "@type": "prov:Entity",
      "dcterms:references":  "models:{{ fpm_file }}"
    },
    {
      "@id": "models:{{ gen_file }}",
      "@type": "prov:Entity",
      "prov:generatedAtTime":  "{{ gen_time }}",
      "prov:wasDerivedFrom": "{{ var_file }}"
    }
  ]
}