[
  {
    "@id": "pose-coord-{{ placement_id }}",
    "@type": "PoseCoordinate",
    "unit": "{{ length_unit }}",
    {%  set coords = list(rdflib.collection.Collection(g, g[relative_placement : IFC_CONCEPTS["location"] / IFC_CONCEPTS["coordinates"]].__next__())) -%}
    "coordinates":  [{% for v in coords %}{{ v }}{% if not loop.last %},{% endif %}{% endfor %}]
  }
]
