<?xml version="1.0"?>

<!-- ROS1 Launch File -->
<launch>
    
    <!-- GAZEBO SETUP ARGUMENTS -->
    <arg name="use_sim_time" default="true"/>
    <arg name="gazebo_gui" default="false"/>
    <arg name="headless" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="world_name" default="worlds/{{model_name}}.world"/>

    <env name="GAZEBO_MODEL_PATH" value="$(find floorplan_models)/models:$(find floorplan_models)/worlds:$(optenv GAZEBO_MODEL_PATH)"/>

    <!-- launch gazebo with empty world -->
    <include file="$(find floorplan_models)/launch/gazebo_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gazebo_gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

</launch>
