[
  {% for task in model %}
  {
    "name": "{{ task["name"] }}",
    "type": "{{ task["type"] }}",
    "position": {{ task["position"] }},
    "unit": "{{ task["unit"] }}",
    "space": "{{ task["space"] }}"
  }{% if not loop.last %},{% endif %}
  {% endfor %}
]