[
  {% set g = model.g %}
  {% set MILLING = model.MILLING %}
  {% set list = model.list %}
  {% set rdflib = model.rdflib %}
  {% for task in model.tasks %}
  {
    "$schema": "../schemas/kuka_robot.schema.json",
    {% set goal = task.nav2_goal %}
    "navpos": {
      "position": {{ goal.p }},
      "orientation": {{ goal.q }},
      "frame_id": "{{ goal.frame_id }}"
    },
    "drill_poses": [
      {
        "hole_id": "{{ task["name"] }}",
        "position_x": {{ task["position"][0] }},
        "position_y": {{ task["position"][1] }},
        "position_z": {{ task["position"][2] }},
        "n_sockets": 2,
        "direction_sockets": false,
        "direction_cable_duct": 1,
        "frame_id": "map"
      }
    ],
  {% set origin = list(rdflib.collection.Collection(g, g[task.id: MILLING['origin']].__next__())) %}
  {% set vec_x = list(rdflib.collection.Collection(g, g[task.id: MILLING['x-vector']].__next__())) %}
  {% set vec_z = list(rdflib.collection.Collection(g, g[task.id: MILLING['z-vector']].__next__())) %}
    "kuka-milling-frame": {
      "origin": [ {{ origin[0] }}, {{ origin[1] }}, {{ origin[2] }}],
      "local-x-direction": [{{ vec_x[0] }}, {{ vec_x[1] }}, {{ vec_x[2] }}],
      "normal": [{{ vec_z[0] }}, {{ vec_z[1] }}, {{ vec_z[2] }}],
      "parent_frame": "{{ g.value(task.id, MILLING['parent_frame']) }}"
    }
  }{% if not loop.last %},{% endif %}
  {% endfor %}
]