<?xml version="1.0" ?>
<model>
    <name>{{data.name}}</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Object</name>
        <email></email>
    </author>
    <description>{{data.name}} model</description>
</model>
