      <plugin name="gz::AdversarialJointModelPlugin" filename="libadversarial_joint_plugin.so">
        <joint>{{ plugin.joint_name }}</joint>
        <start_joint_angle>{{ plugin.start_joint_angle }}</start_joint_angle>
        <trigger_dist>{{ plugin.trigger_dist }}</trigger_dist>
        <end_joint_angle>{{ plugin.target_joint_angle }}</end_joint_angle>
      </plugin>