      <plugin name="gz::DynamicJointModelPlugin" filename="libdynamic_joint_plugin.so">
        <joint>{{ plugin.joint_name }}</joint>
        <uri>{{ plugin.keyframe_path }}/{{ instance.instance_name }}.json</uri>
      </plugin>