      <plugin name="gz::DynamicJointModelPlugin" filename="libdynamic_joint_plugin.so">
        <joint>{{ plugin.joint_name }}</joint>
        <uri>file://keyframes/{{ instance.instance_name }}.json</uri>
      </plugin>