      <plugin name="gz::TimedJointStateChangePlugin" filename="libtimed_joint_state_change_plugin.so">
        <joint>{{ plugin.joint_name }}</joint>
        <uri>file://keyframes/{{ instance.instance_name }}.json</uri>
      </plugin>