[
  {
    "@id": "{{ parent_id }}",
{#    "shape": "{{ element_id }}-polygon",#}
    "3d-shape": "{{ element_id }}-polyhedron"
  },
{#  {#}
{#    "@id": "{{ element_id }}-polygon",#}
{#    "@type": "Polygon",#}
{#    "points": [#}
{#      {% for idx in poly_face -%}#}
{#      "{{ element_id }}-point-{{ idx + 1 }}"{% if not loop.last %},{% endif %}#}
{#      {%- endfor %}#}
{#    ]#}
{#  },#}
  {
    "@id": "{{ element_id }}-polyhedron",
    "@type": "Polyhedron",
    "points": [
      {% for p in points -%}
      "{{ element_id }}-point-{{ loop.index }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    ],
    "faces": [
      {% for f in faces %}
      [
        {% for idx in f -%}
        "{{ element_id }}-point-{{ idx + 1 }}"{% if not loop.last %},{% endif %}
        {%- endfor %}
      ]{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  },
  {%- for p in points -%}
  {% set point_id = element_id ~ "-point-" ~ loop.index  %}
  {
    "@id": "{{ point_id }}",
    "@type": [ "3D", "Euclidean", "Point" ]
  },
  {
    "@id": "position-{{ point_id }}",
    "@type": "Position",
    "of": "{{ point_id }}",
    "with-respect-to": "{{ placement_id }}-origin",
    "quantity-kind": "Length"
  },
  {
    "@id": "position-coord-{{ point_id }}-wrt-{{ element_id }}-origin",
    "@type": [ "PositionReference", "PositionCoordinate", "VectorXYZ" ],
    "of-position": "position-{{ point_id }}",
    "as-seen-by": "{{ placement_id }}-frame",
    "unit": "{{ length_unit }}",
    "coordinates": [{{ p[0] }}, {{ p[1] }}, {{ p[2] }} ]
  }{% if not loop.last %},{% endif %}
  {% endfor %}
]