<?xml version='1.0' encoding='utf-8'?>
<sdf version="1.6">
  <world name="{{model.name}}">
    <gravity>0 0 -9.8</gravity>
    <physics default="0" name="default_physics" type="ode">
      <max_step_size>0.001</max_step_size>
      <real_time_factor>1</real_time_factor>
      <real_time_update_rate>1000</real_time_update_rate>
    </physics>
    <scene>
      <ambient>0.6 0.6 0.6 1</ambient>
      <background>0.4 0.4 0.4 1</background>
      <shadows>false</shadows>
    </scene>
    <include>
      <uri>model://sun</uri>
    </include>
    <include>
      <uri>model://ground_plane</uri>
      <pose>0 0 0 0 0 0</pose>
    </include>
    <include>
      <uri>model://{{model.name}}</uri>
      <static>true</static>
      <pose>-0.0 0.0 0.0 0.0 0.0 0.0</pose>
    </include>
    {%- for instance in model.instances %}
        {# Just here to add a newline before each include for readability#}
    <include>
      <name>{{instance.instance_name}}</name>
      <uri>model://{{instance.name}}</uri>
      <static>{{instance.static}}</static>
      <pose>{{instance.pose}}</pose>
      {%- for start_joint_state in instance.start_joint_states %}
          {%- if instance.plugin_type == 'initial' %}
        <plugin name="initial_plugin" filename="libinitial_plugin.so">
          <joint>{{start_joint_state.joint}}</joint>
          <position>{{start_joint_state.position}}</position>
        </plugin>
          {%- elif instance.plugin_type == 'dynamic' %}
        <plugin name="dynamic_joint_pluginss" filename="libdynamic_joint_plugin.so">
          <joint>{{start_joint_state.joint}}</joint>
          <uri>{{start_joint_state.uri}}</uri>
        </plugin>
          {%- elif instance.plugin_type == 'adversarial' %}
        <plugin name="adversarial_joint_plugin" filename="libadversarial_joint_plugin.so">
          <joint>{{start_joint_state.joint}}</joint>
          <x>{{start_joint_state.position_before}}</x>
          <near>{{start_joint_state.distance_to_trigger}}</near>
          <y>{{start_joint_state.position_after}}</y>
        </plugin>
        {%- endif %}
      {%- endfor %}
    </include>
    {%- endfor %}
  </world>
</sdf>
