[
    {
      "@base": "https://secorolab.github.io/models/{{ model_id }}/floorplan/",
      "model": "https://secorolab.github.io/models/{{ model_id }}/",
      "fpm-model": "https://secorolab.github.io/models/{{ model_id }}/floorplan/"
    },
    "https://secorolab.github.io/metamodels/acceptance-criteria/bdd/environment.json",
    "http://comp-rob2b.github.io/metamodels/qudt.json",
    "https://comp-rob2b.github.io/metamodels/geometry/coordinates.json",
    "https://secorolab.github.io/metamodels/geometry/coordinates.json",
    "https://comp-rob2b.github.io/metamodels/geometry/spatial-relations.json",
    "https://secorolab.github.io/metamodels/geometry/polytope.json",
    "https://comp-rob2b.github.io/metamodels/geometry/structural-entities.json",
    "https://secorolab.github.io/metamodels/floorplan/floorplan.json"
  ]